@import "bower_components/bootstrap/less/bootstrap.less";

.navbar-btn {
   margin-left: 4px;
   margin-right: 4px;
}

html, body {
    height: 100%;
}

body {
    display: -webkit-flex;
    -webkit-flex-flow: column;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    width: 100%;
    .image {
        display:table-cell;
        vertical-align:middle;
        text-align:center;
        min-width: 100%;
        min-height: 50%;
        margin: 0px;
        flex: 10 10 0;
        -webkit-flex: 10 10 0;
        xbackground-color: @gray-light;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat no-repeat;
    }
    .top {
        display: -webkit-flex;
        -webkit-flex-flow: row wrap;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        -webkit-flex: 0 1 auto;
        min-width: 200px;
    }
    .current img {
        border: 3px solid black;
    }
}

body.landscape {
    -webkit-flex-flow: row;
    > .image {
        min-width: 50%;
        min-height: 100%;
    }
    .top {
        display: -webkit-flex;
        -webkit-flex-flow: column;
        -webkit-flex: 0 1 auto;
        min-width: 200px;
    }
    .preview {
        min-width: 600px;
    }
}

.preview {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    width: 100%;
    .image {
        display:table-cell;
        vertical-align:middle;
        text-align:center;
        min-width: 200px;
        margin: 0px;
        flex: 1 1 0;
        -webkit-flex: 1 1 0;
    }
    .current img {
        border: 3px solid black;
    }
}
